@model DirectLine.Controllers.Chat
<h2>Direct Line Bot Example</h2>
@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    <p>
        Hello: @((User.Identity.IsAuthenticated == true)
? User.Identity.Name
: "[Unknown]")
    </p>
    @Html.TextBoxFor(m => m.ChatMessage,
    new { style = "width:600px" })
    <br />
    <input type="submit" value="Send" />
}
<br />
@if (Model.ConvertationId!=null)
{
<p><b>Convertation Id: </b>@Html.Raw(Model.ConvertationId)</p>
}
<p>@Html.Raw(Model.ChatResponse)</p>